
body[data-theme="dark"]{
    --bg-bg: rgb(18,18,18);
    --main-text: white;
    --logo-color: invert(0);
    --brightness-color: invert(180);
    --gray: rgb(104, 104, 104);
  }




  
  body[data-theme="light"]{
    --bg-bg: rgb(255, 255, 255);
    --main-text: rgb(18,18,18);
    background-color: rgb(175, 175, 175);
    --logo-color: invert(180);
    --brightness-color: invert(0);
    --gray: rgb(252, 252, 252); 
  }


  body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    overflow-x: hidden;
    /* background-color: var(--main-text); */
    background-color: blue;
    background-color: var(--main-text);
}
html{
    scroll-behavior: smooth;
    /* background-color: var(--bg-bg); */
    background-color: white;
    background-color: var(--main-text);
}

#navbar{
    display: flex;
    flex-direction: column;

    font-weight: 800;
    padding: 20px;
    
    margin-top: 0;
    height: 100vh;
    width: 10%;
    float: left;
    position: fixed;
    margin-top: 0px;
    background-color: rgb(65, 112, 194);
   color: white;
}

#nav-logo{
    margin-left: 50px;
}

#profile-pic img{
    width: 200px;
}





#nav-detail{
    text-align: center;
    margin-top: -10px;
}

#nav-options{
    margin-left: -40px;
}

#nav-options li{
    list-style-type: none;
    margin-top: 20px;
}

#nav-detail h1{
    /* background-color: aqua; */
    margin-bottom: 0;
    /* color: rgb(255, 255, 255); */
    color: black;
    font-size: 30px;
    font-weight: 800;
    animation-name: name1;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    font-family:'Stick No Bills', sans-serif;;
}

@keyframes name{
    0%   {color: rgb(6, 6, 6);}
    25%   {color: rgb(170, 189, 67);}
  50%  {color: rgb(255, 217, 0);}
  100% {color: rgb(69, 222, 69);}

}

#nav-detail p{
    font-weight: 300;
    font-size: 20px;
    margin-top: 0;
    
    /* background-color: yellowgreen; */

}

ul#nav-options li a.active{
    /* color: rgb(43, 255, 0); */
}

#nav-options{
    
    display: flex;
    flex-direction: column;
    width: 100%;
    /* background-color: aqua; */
    text-align: center;
    margin-top: 100px;
}

#nav-options span{
    margin-bottom: 20px;
    font-weight: 500;
    color: black;
}

#nav-options a{
    text-decoration: none;
    font-weight: 800;
    color: rgb(255, 255, 255);
}

#nav-options a:hover{
    color: black;
    cursor: pointer;
}

#nav-social{
    display: flex;
    justify-content: space-around;
    margin-top: 27vh;
}

#nav-social img{
    width: 25px;
    filter: invert(180);
}

#nav-social img:hover{
    cursor: pointer;
    filter: invert(0);
    
}


/* night mode button */
.theme-switcher{
    padding-top: 0;
    margin: 0;
    justify-content: center;
    display: flex;
    align-items: center;
  
  }
  
  #brightness{
    height: 2.5rem;
    padding-top: 1%;
    filter: invert(--brightness-color);
  }
  
  /* The switch - the box around the slider */
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 24px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    /* background-color: #2196F3; */
    background-color: black;
  
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(36px);
    -ms-transform: translateX(36px);
    transform: translateX(36px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }



/* night button ends */

section{
    /* background-color: brown; */
    /* float: right; */
    /* position:absolute; */
    z-index: -1;
    padding-left: 20%;
    height: auto;
}

.home-text{
    margin-top: 25vh;   
    width: 700px;
}

.home-text h1{
    font-size: 70px;
    margin-bottom: 10px;
    line-height: 80px;
    color: var(--bg-bg);
}

.home-text p{
    /* width: 50%; */
    margin-top: 0px;
}

.home-text img{
    position: absolute;
    z-index: 1;
    right: 10%;
    top: 0;
    mix-blend-mode: multiply;
}

#home{
    height: 100vh;
    width: 82%;
    /* margin-left: 500px; */
    /* background-image: url("images/robo.gif"); */
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
    position: absolute;
    background-position: right;
    background-color: var(--main-text);
    /* border-bottom: 20px solid rgba(0, 0, 0, 0.171); */
    /* filter: drop-shadow(0.6rem 0.6rem 1rem rgba(45, 45, 45, 0.8)); */
}
#home-btn:hover ~ #home{
    background-color: green;
}


#home-image{
    width: 250px;
    background-color: blue;
    margin-right: 0px;
    
}

#home-btn{
    background-color: rgb(65, 112, 194);
    color: white;
    height: 50px;
    width: 170px;
    border: 0;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.777);
    border-radius: 25px;
    font-weight: 600;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* transition: 2s ease-in; */
    transition-timing-function: linear;
    transition: background-color 1s;
}

#home-btn img{
    margin-left: 10px;
    filter: invert(180);
}

#home-btn:hover{
    background-color: black;
    cursor: pointer;
}

#home-subheading{
    font-size: 25px;
    font-weight: 600;
    color: var(--gray);
}

#about{
    position: absolute;
    margin-top: 96vh;
    width: 80%;
    /* background-color: aquamarine; */
}

.heading{
    font-size: 70px;
    position: relative;
    color: rgb(65, 112, 194);
    margin-bottom: 0;
    font-weight: 900;
    margin-top: 0;
    /* text-shadow: 4px 3px 2px rgba(0, 0, 0, 0.566); */
}

#about{
    height: 100vh;
    /* margin-left: 500px; */
    /* border-bottom: 20px solid rgba(0, 0, 0, 0.203); */
    /* background-image: url("images/aboutImage.png"); */

}



.about-overlay{
    position: absolute;
    height: 100%;
    width: 1000%;
    background-color: rgba(65, 112, 194, 0.425);
    z-index: -1;
    left: 0;
    top: 3%;
    background: linear-gradient(rgba(65, 112, 194, 0.74), rgba(65, 112, 194, 0.74)),url("./images/about-background.png");
    background-size: contain;
    background-repeat: repeat-x;
    animation: slide 90s linear infinite;
    opacity: 1;

}

@keyframes slide{
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(-1692px, 0, 0);
    }
  }

.about-container{
    display: flex;
}

.about-image{
    width: 50%;
}

.about-image img{
    height: 110%;
    width: 108%;
    margin-top: 27px;
    margin-left: -60px;
    filter: drop-shadow(-0px 5px 10px rgba(247, 247, 247, 0.438));
}

.about-text{
    width: 50%;
    /* background-color: blue; */
    margin-top: 120px;
    padding-right: 20px;
}

.about-text h1{
    color: white;
    filter: drop-shadow(-5px 5px 0px rgba(0, 0, 0, 0.336));
}

.about-text p{
    color: white;
    font-weight: 500;
    font-size: 20px;
}




#skills{
    position: absolute;
    margin-top: 199vh;
    width: 80%;
    height: 110vh;
    /* border-bottom: 20px solid rgba(0, 0, 0, 0.171); */
    background-image: url("images/wave.png");
    background-repeat: no-repeat;
    background-position-y: 130px;
    background-size: cover;
    background-color: var(--main-text);
    /* margin-left: 500px; */
    margin-left: 40px;
    
}

#skills-heading{
    margin-top: 50px;
}

.skill-section-container{
    display: flex;
    vertical-align: middle;
    align-items: center;
}

.skill-type{
    font-size: 30px;
    font-weight: 900;
    color: var(--gray);
    min-width: 200px;

}

.skill-container{
    display: flex;
    margin-top: 0;  
}
.icon-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
}

.icon-container p{
    margin-top: 0%;
    font-weight: 700;
    color: var(--bg-bg);
}

.skill-icons{
    scale: 0.6;
}

.skill-icons:hover{
    filter: none;
    scale: 0.80;
    filter: drop-shadow(3px 5px 5px rgb(0 0 0 / 0.8));
}

#contact{
    /* position: absolute; */
    /* margin-top: 400vh; */
    width: 100%;
    height: 140vh;
    margin: auto;
    /* margin-left: -150px; */
    margin-left: -150px;
    margin-top: 0px;
    padding-top: 80px;
    /* border-bottom: 20px solid rgba(0, 0, 0, 0.171); */
    background-image: url("images/wave3.png");
    background-repeat: no-repeat;
    background-position-y: 650px;
    background-size: contain;
    /* background-color: #2196F3; */
    /* background-position: bottom; */
}

#form-container{
    /* background-color: aqua; */
    width: 400px;
    /* border: 1px solid black; */
    /* padding-left: 20px;
    padding-right: 20px; */
    padding-top: 0;
    border-radius: 20px;
    box-shadow: 5px 5px 50px #414141aa;
    margin: auto;
    background-color: rgb(243, 243, 243);
}

form{
    padding: 20px;
}

form label{
    color: rgb(0, 0, 0);
    margin-top: 0;
    font-weight: 500;
}

.inp{
    width: 95%;
    height: 30px;
    height: 45px;
    margin-top:5px;
    margin-bottom: 15px;
    /* border-top: 1px;
    border-left: 1px;
    border-right: 1px; */
    border-radius: 0px;
    border: 0px solid rgba(0, 0, 0, 0.528);
    background-color: rgba(0, 0, 0, 0.141);
}

.inp::placeholder{
  /* */
  padding-left: 10px;
}

#submit-btn{
    height: 40px;
    width: 96%;
    border-radius: 0px;
    background-color: rgb(0,105,163);
    color: white;
    border: 0px;
    margin-bottom: 20px;
    font-size: 18px;
    transition: background-color 1s;
    transition-timing-function: linear;
}

#submit-btn:hover{
    cursor: pointer;
    background-color: black;
}

#msg-box{
    height: 10px;
    background-color: blueviolet;
}

#msg-box::placeholder{
    font-family: 'Poppins', sans-serif;
    padding-top: 10px;
}

#form-image{
    background-image: url("https://images.all-free-download.com/images/graphiclarge/abstract_backgrounds_pattern_537133.jpg");
    padding: 0;
    margin: 0;
    margin-top: 0;
    height: 70px;
    border-radius: 20px 20px 0px 0px;
    
}

#contact-heading{
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    margin-left: -250px;
}

.resume-container{
    margin-top: 80px;
    width: 20%;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-around;
}

.resume-container img{
    scale: 0.7;
    border-radius: 50%;
    /* border: 4px solid rgb(0, 0, 0); */
    padding: 5px;

    animation-name: res;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes res{
    0%   {background-color: rgba(6, 6, 6, 0.021);}
    50%   {background-color: rgba(0, 106, 163, 0.431);}
  

}

.resume-container img:hover{
    cursor: pointer;
    box-shadow: 5px 5px 20px black;
    border: 0ch;
    padding: 10px;
    background-color: rgb(0, 106, 163);
    animation-name: dss;
}

.resume-container label{
    text-align: center;
    /* background-color: aqua; */
    width: 100px;
    line-height: 1px;
}

.resume{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}

.resume img{
    scale: 0.9;
    height: 30px;

}


.contact-box{
  width: 60%;
  height: 600px;
  margin: auto;
  /* background-color: rgb(215, 215, 215); */
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 20px grey;
  margin-left: 0px;
}

.left-side{
  width: 40%;
  height: 100%;
  /* background-color: aqua; */
  background-color: white;
  background-image: url("images/mail-animation.gif");
  background-size: 120%;
  background-repeat: no-repeat;
  background-position: center;
  /* border-right: 5px solid rgba(0, 0, 0, 0.266); */
}

.right-side{
  width: 60%;
  height: 100%;
  /* background-color: rgb(65, 112, 194); */
  background-color: rgb(255, 255, 255);
  /* color: aliceblue; */
 
}

#left-content{
  margin-top: 70px;
  /* background-color: aqua; */
  width: 70%;
  margin-left: 20px;
}

.left-side label{
  /* background-color: aqua; */
  display: flex;
  font-weight: 600;
  /* margin-top: 40px; */
  margin-top: 20px;
  text-align: center;
  /* justify-content: center; */
  color: rgba(21, 71, 164, 0.857);
}

.left-side label img{
  width: 20px;
}

.left-side a{
  
  text-decoration: none;
  transition-timing-function: linear;
  transition: background-color 1s;
}

.left-side a:hover{
  text-decoration: underline;
  cursor: pointer;
  color: black;
  background-color: rgba(80, 179, 254, 0.414);
}

#projects{
    position: absolute;
    margin-top: 309vh;
    background-color: var(--main-text);
    color: var(--bg-bg);
    width: 100%;
    padding-top: 80px;
    /* padding-bottom: 80px; */
    /* margin-left: 500px; */
}

.project-container{
    /* background-color: blueviolet; */
    width: 1000px;
    height: 100px;
    transition: height 2s;
    overflow-y: hidden;
    border-bottom: 1px solid var(--gray);
    padding-top: 20px;
    

}



.project-container:hover{
    cursor: pointer;
    height: 600px;
    background-color: rgb(65, 112, 194);
    border-radius: 10px;

}

.project{
    display: flex;
    width: 1000px;
    /* background-color: blue; */
}

.project-headings{
    /* background-color: aqua; */
    height: 100px;
    padding-left: 10px;
    /* width: 40%; */
    flex: 2;
}

.project-headings h1{
    font-size: 30px;
    padding: 0;
    margin: 0;
}

.project-headings h2{
    font-size: 20px;
    padding: 0;
    margin: 0;
    font-weight: 300;
}

.project-desc{
    padding-left: 60px;
    margin-top: 0px;
    flex: 4;
    
}

.project-desc p{
    margin: 0;
    font-size: 20px;
    text-overflow: ellipsis;
}

.project-container img{
    width: 800px;
    margin: auto;
    margin-left: 100px;
}

#code-quest{
    margin-top: 40px;
}


#line-break{
    margin-top: 60px;
    height: 20px;
    border: none;
    background-color: rgba(128, 128, 128, 0.301);
    width: 1000%;
    margin-left: -200px;

}

